<div class="w-8/12 text-2xl font-semibold text-center mx-auto my-8">Orders</div>
<%# <div class="flex flex-wrap content-evenly"> %>
<div class="px-4 py-6 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
  <div class="grid row-gap-8 sm:grid-cols-3">
    <div class="ml-6 mr-6 md:p-8 p-6 bg-gray-800 shadow-xl rounded-lg flex justify-between dark:bg-gray-800 md:items-center md:flex-row flex-col gap-6">      
      <div>
        <span class="text-bold text-gray-400 dark:text-gray-400 block">
          Total Orders
        </span>
        <span class="text-blue-600 text-4xl md:text-5xl mt-2 font-black block">
          <%= @orders_count %>
        </span>
      </div>
      <div class="self-end">
        <div class="text-xl text-gray-100 text-right md:block">          
            <%= @last_week_orders.length %>
             
        </div>
        <p class="text-lg text-gray-400 md:text-right text-left dark:text-gray-400 md:block inline-block md:mb-0">
          from last week
        </p>
      </div>
    </div>

    <div class="ml-6 mr-6 md:p-8 p-6 bg-gray-800 shadow-xl rounded-lg flex justify-between dark:bg-gray-800 md:items-center md:flex-row flex-col gap-6">      
      <div>
        <span class="text-bold text-gray-400 dark:text-gray-400 block">
          Buy Orders Today
        </span>
        <span class="text-blue-600 text-4xl md:text-5xl mt-2 font-black block">
          <%= @today_buy_orders %>
        </span>
      </div>
      <div class="self-end">
        <div class="text-xl text-gray-100 text-right md:block">        
            <%= @buy_order_percentage %>%
        </div>
        <p class="text-lg text-gray-400 md:text-right text-left dark:text-gray-400 md:block inline-block md:mb-0">
          from 7-day daily average (<%= @seven_day_buy_order_average %>)
        </p>
      </div>
    </div>

    <div class="ml-6 mr-6 md:p-8 p-6 bg-gray-800 shadow-xl rounded-lg flex justify-between dark:bg-gray-800 md:items-center md:flex-row flex-col gap-6">      
      <div>
        <span class="text-bold text-gray-400 dark:text-gray-400 block">
          Sell Orders Today
        </span>
        <span class="text-blue-600 text-4xl md:text-5xl mt-2 font-black block">
          <%= @today_sell_orders %>
        </span>
      </div>
      <div class="self-end">
        <div class="text-xl text-gray-100 text-right md:block">          
            <%= @sell_order_percentage.round(2) %>%      
        </div>
        <p class="text-lg text-gray-400 md:text-right text-left dark:text-gray-400 md:block inline-block md:mb-0">
          from 7-day daily average (<%= @seven_day_sell_order_average %>)
        </p>
      </div>
    </div>
  </div>
</div>
