<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="flex">
  <div class="max-w-xl mb-10 sm:text-center lg:max-w-2xl md:mb-12">
    <div>
      <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
        <%= @coin["name"] %>
      </p>
    </div>
    <img class="mx-auto h-24 w-24 rounded-full" src=<%= @coin["image"]["large"] %> alt="">
    <p class="mt-4 text-base text-gray-700 md:text-lg">
      <%= raw @coin["description"]["en"].truncate_words(300) %>
    </p>
  </div>

  <div>
    
    <div class="relative flex w-full flex-wrap items-stretch mb-3" x-data="{ input: '' }">
      <span
        class="z-10 h-full leading-snug font-normal text-center text-gray-400 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
        <i class="fa fa-lock"></i>
      </span>
      <input name="test" type="text" placeholder="Placeholder" x-on:input="input=$event.target.value"
        class="px-3 py-3 placeholder-gray-400 text-gray-600 relative bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:ring w-full pl-10" />
        <div x-text="input * 2"></div>
    </div>
  </div>

  </div>
  <div>
  
  </div>
  <div class="grid gap-8 row-gap-5 mb-8 md:row-gap-8 lg:grid-cols-4 sm:grid-cols-2">
    <div class="duration-300 transform bg-white border-l-4 border-deep-purple-accent-400 hover:-translate-y-2">
      <div class="h-full p-5 border border-l-0 rounded-r shadow-sm">
        <h6 class="mb-2 font-semibold leading-5">Coin Info</h6>
          <div class="text-sm text-gray-600">Total Supply</div>
          <div><%= @coin["market_data"]["total_supply"]%></div>

          <div class="text-sm text-gray-600 mt-2">Max Supply</div>
          <div><%= @coin["market_data"]["max_supply"]%></div>

          <div class="text-sm text-gray-600 mt-2">Market Cap Rank</div>
          <div>#<%= @coin["market_data"]["market_cap_rank"]%></div>

          <div class="text-sm text-gray-600 mt-2">Market Cap</div>
          <div><%= number_to_currency @coin["market_data"]["market_cap"]["usd"]%></div>

          <div class="text-sm text-gray-600 mt-2">Total Volume</div>
          <div><%= number_to_currency @coin["market_data"]["total_volume"]["usd"]%></div>
      </div>
    </div>
    <div class="duration-300 transform bg-white border-l-4 border-deep-purple-accent-400 hover:-translate-y-2">
      <div class="h-full p-5 border border-l-0 rounded-r shadow-sm">
        <h6 class="mb-2 font-semibold leading-5">All Time High/Low Info</h6>

        <div class="text-sm text-gray-600">All Time High</div>
          <div><%= number_to_currency @coin["market_data"]["ath"]["usd"]%></div>

          <div class="text-sm text-gray-600 mt-2">All Time High Date</div>
          <div><%= DateTime.parse(@coin["market_data"]["ath_date"]["usd"]).strftime("%d/%m/%Y")%></div>

          <div class="text-sm text-gray-600 mt-2">All Time High Change %</div>
          <div><%= @coin["market_data"]["ath_change_percentage"]["usd"]%> %</div>

          <div class="text-sm text-gray-600 mt-2">All Time Low</div>
          <div><%= number_to_currency @coin["market_data"]["atl"]["usd"]%></div>

          <div class="text-sm text-gray-600 mt-2">All Time Low Date</div>
          <div><%= DateTime.parse(@coin["market_data"]["atl_date"]["usd"]).strftime("%d/%m/%Y")%></div>

          <div class="text-sm text-gray-600 mt-2">All Time Low Change %</div>
          <div><%= @coin["market_data"]["atl_change_percentage"]["usd"]%> %</div>
      </div>
    </div>
    <div class="duration-300 transform bg-white border-l-4 border-deep-purple-accent-400 hover:-translate-y-2">
      <div class="h-full p-5 border border-l-0 rounded-r shadow-sm">
        <h6 class="mb-2 font-semibold leading-5">Historical Price Changes</h6>    
          <div class="text-sm text-gray-600">7-day change</div>
          <div><%= @coin["market_data"]["price_change_percentage_7d"]%>%</div>

          <div class="text-sm text-gray-600 mt-2">14-day change</div>
          <div><%= @coin["market_data"]["price_change_percentage_14d"]%>%</div>

          <div class="text-sm text-gray-600 mt-2">30-day change</div>
          <div><%= @coin["market_data"]["price_change_percentage_30d"]%>%</div>

          <div class="text-sm text-gray-600 mt-2">60-day change</div>
          <div><%= @coin["market_data"]["price_change_percentage_60d"]%>%</div>

          <div class="text-sm text-gray-600 mt-2">200-day change</div>
          <div><%= @coin["market_data"]["price_change_percentage_200d"]%>%</div>

          <div class="text-sm text-gray-600 mt-2">1-year change</div>
          <div><%= @coin["market_data"]["price_change_percentage_1y"]%>%</div>
      </div>
    </div>
    <div class="duration-300 transform bg-white border-l-4 border-deep-purple-accent-400 hover:-translate-y-2">
      <div class="h-full p-5 border border-l-0 rounded-r shadow-sm">
        <h6 class="mb-2 font-semibold leading-5">Sentiment</h6>
        <div class="flex">          
          <img src="/assets/bull-market.png" width="150" height="150" alt="Edit Entry" />
          <div class="mx-auto my-auto font-semibold text-xl"><%= @coin["sentiment_votes_up_percentage"]%>%</div>
        </div>

        <div class="flex">          
          <img src="/assets/bear-market.png" width="150" height="150" alt="Edit Entry" />
          <div class="mx-auto my-auto font-semibold text-xl"><%= @coin["sentiment_votes_down_percentage"]%>%</div>
        </div>
        
      </div>
    </div>
  </div>
    <div>Powered by <a href="www.coingecko.com" class="text-indigo-600 hover:text-indigo-500">
              CoinGecko
            </a></div>
</div>